doctype html
html(ng-app='todomvc', manifest='/application.manifest')
  head
    meta(charset='utf-8')
    title PouchDB + AngularJS + RxJS TodoMVC
    link(rel='stylesheet', href='css/base.css')
  body
    div(ng-view)

    script(src='js/vendor.js')
    script(src='js/app.js')
